@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
  .table td,
  .table th {
    font-size: 15px;
  }
}

html {
  text-rendering: optimizeLegibility;
}

section.nomenclature {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
}
.nomenclature_item {
  display: flex;
  padding: 10px 0;
  align-items: flex-end;
}
.nomenclature_item .discount_check {
  padding-left: 300px;
}
.nomenclature_priÑe table {
  border-bottom: 1px solid #efeff7;
}
table .discount {
  display: none;
}
table .unit {
  width: 100%;
  height: 28px;
}
table .name a {
  border: 1px solid #d6d7de;
  background-color: white;
  padding: calc(4px - 0.4px) 2px;
  border-radius: 2px;
}

table .name a span {
  border-left: 1px solid #b5b2b5;
  padding-left: 7px;
  padding-right: 7px;
  color: #b5b2b5;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fffbff;
}
table .name a:hover {
  text-decoration: none;
}
.table td,
.table th {
  padding: 10px;
}
.table td {
  position: relative;
}
table tbody tr td input {
  border: 1px solid #d6d7de;
  width: 100%;
}

table thead tr th.reserve {
  display: none;
}
table thead tr th.sales_order {
  display: none;
}
table tbody tr td.reserve {
  display: none;
}
table tbody tr td.sales_order {
  display: none;
}

table tbody tr td select {
  border: 1px solid #d6d7de;
}
table thead tr th {
  font-size: 16px;
  font-weight: 100;
}
.table-primary,
.table-primary > td,
.table-primary > th {
  border: none;
  background-color: #c6e7ff;
}
table tbody tr td i {
  color: #b5b2b5;
  cursor: pointer;
}
table tbody tr td i:hover {
  color: black;
}
table thead tr th:nth-child(2) {
  width: 18%;
}
table thead tr th:nth-child(3) {
  text-align: right;
}
table thead tr th:nth-child(4) {
  text-align: right;
}
table thead tr th:nth-child(6) {
  text-align: right;
  background-color: #add4ff;
}
table thead tr th:nth-child(7) {
  text-align: right;
}
table tbody tr td:nth-child(1) {
  width: 3%;
}
table tbody tr td:nth-child(3) {
  text-align: right;
}
table tbody tr td:nth-child(4) {
  text-align: right;
}
table tbody tr td:nth-child(5) {
  text-align: right;
  width: 13%;
}
table tbody tr td:nth-child(6) {
  text-align: right;
}
table tbody tr td:nth-child(7) {
  text-align: right;
}
.further_action {
  display: flex;
  justify-content: space-between;
}

.further_action .add_product a {
  color: #004da5;
  border-bottom: 1px dashed #004da5;
}
.further_action .add_product a:hover {
  text-decoration: none;
}
.further_action .total_sum .alert span {
  font-weight: 700;
}

.empty {
  display: none;
  border-bottom: 1px solid #efeff7;
  margin-bottom: 10px;
}
.empty h2 {
  color: #b5b2b5;
  padding-left: 20px;
}

@media screen and (max-width: 1321px) {
  .table td,
  .table th {
    padding: 8px;
    font-size: 13px;
  }
}
@media screen and (max-width: 1112px) {
  thead {
    display: none;
  }
  table td {
    display: block;
    padding-left: 40%;
    border: none;
    text-align: right;
    font-size: 16px;
  }
  table tbody tr td input {
    width: auto;
  }
  table tbody tr td:nth-child(1) {
    width: auto;
  }
  table tbody tr td:nth-child(5) {
    width: auto;
  }
  table tbody tr td:nth-child(6) {
    text-align: right;
    background-color: #ebebeb;
  }
  table .unit {
    width: 153px;
    height: auto;
    text-align: right;
  }
  table td::before {
    content: attr(data-lable);
    position: absolute;
    font-size: 16px;
    left: 2%;
  }
  table td:last-child {
    border-bottom: 2px solid #dee2e6;
  }
}

@media screen and (max-width: 1030px) {
  .nomenclature_item .discount_check {
    padding-left: 20%;
  }
}
@media screen and (max-width: 914px) {
  .nomenclature_item .discount_check {
    padding-left: 8%;
  }
}
@media screen and (max-width: 787px) {
  .nomenclature_item {
    display: block;
  }
  .nomenclature_item .item_btn {
    margin-bottom: 5px;
  }
  .nomenclature_item .discount_check {
    padding-left: 2%;
  }
}
@media screen and (max-width: 575px) {
  .nomenclature_item .item_btn a {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 575px) {
  .nomenclature_item .item_btn a {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 340px) {
  body {
    min-width: 340px;
  }
}
